/* setting the base font in pixels */
html {
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

html, #root {
  margin: 0;
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.MuiTypography-root {
    font-family: inherit !important;
}
